div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}button{
  padding: 10px 30px;
  font-size: 28px;
  cursor: pointer;
}